<div class="col-md-2 leftmenu">
    <div class="col-md-12 leftmenu_inner">
        <a>
            <img src="assets/img/btn_step06.png" class="img-responsive">
        </a>
    </div>
    <div class="col-md-12 leftmenu_inner">
        <a href="/step05">
            <img src="assets/img/toback.png" class="img-responsive">
        </a>
    </div>
</div>
<!--leftmenu-->
<div class="col-md-10 maincontent " [@screenanimation]="screenState " style="opacity: 0; ">
    <div class="row screen01 ">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/img/Buttery/Buttery_01.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/Buttery/Buttery_02.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/Buttery/Buttery_03.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/Buttery/Buttery_04.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/Buttery/Buttery_05.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/Buttery/Buttery_06.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/Buttery/Buttery_07.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/Buttery/Buttery_08.jpg" alt="">
                </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Add Pagination -->
            <!--<div class="swiper-pagination"></div>-->
        </div>
    </div>
</div>
<!--maincontent-->