<div class="col-md-2 leftmenu">
    <div class="col-md-12 leftmenu_inner">
        <a>
            <img src="assets/img/btn_step06.png" class="img-responsive">
        </a>
    </div>
    <div class="col-md-12 leftmenu_inner">
        <a href="./02">
            <img src="assets/img/totop.png" class="img-responsive">
        </a>
    </div>
</div>
<!--leftmenu-->
<div class="col-md-10 maincontent " [@screenanimation]="screenState " style="opacity: 0; ">
    <div class="row screen01 ">
        <!-- List -->
        <div class="fr-product">
            <h2>おすすめ商品</h2>

            <div class="fr-list-product">
                <ul>
                    <li class="fr-new">
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>ワーニングトライアングル</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                    <li class="fr-new">
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>エアコン除菌消臭クリーニング</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                    <li class="fr-new">
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>撥水ワイパー</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>ワーニングトライアングル</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>エアコン除菌消臭クリーニング</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>撥水ワイパー</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>ワーニングトライアングル</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>エアコン除菌消臭クリーニング</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                    <li>
                        <a href="./step06" title="">
                            <span>Volkswagen純正</span>
                            <h3>撥水ワイパー</h3>
                        </a>
                        <div class="fr-img">
                            <img src="assets/img/product_1.png" class="img-responsive">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--maincontent-->